body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6
}
.container {
    width: 80%;
    max-width:900px;
    margin: 100px auto;
    padding: 50px;
    text-align: center;
    background: grey;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0,.1);
}
h1{
    font-size: 48px;
    color: #222;
}
p{
    font-size: 48px;
    color: #666;
}
button {
    margin-top: 20px;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 30px;
    background: black;
    color: white;
    cursor: pointer;
}
button:hover {
     background: #444;
}


